.logo>header {
	padding: 10px 10px 0 10px;
}

.sapUiPanelHdrEmph {
	border-bottom: none;
}

.sapUiBody {
	background-color: #fff;
	background-image: none;
}

.sapMSLITitleOnly {
	font-size: 1rem;
}

.background-left {
	position: absolute;
	left: 0;
	width: 140px;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.background-left>img {
	position: absolute;
	margin-left: -140px;
}

.background-right {
	position: absolute;
	margin-left: 100%;
	left: -140px;
	width: 140px;
	height: 100%;
	overflow: hidden;
	top: 0;
	z-index: -1;
}