.tp-indicator {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
}

.tp-indicator_empty {
    border-color: black;
}

.tp-indicator_plan {
    border-color: #427cac;
    background-color: rgba(84, 150, 205, .3);
}

.tp-indicator_vacant-position {
    border-color: #427cac;
}

.tp-indicator_full-position {
    border-color: #427cac;
    background-color: rgba(84, 150, 205, .7);
}

.tp-indicator_plan-reduction {
    border-style: dashed;
    border-color: gray;
}

.tp-indicator_plan-enhance {
    border-style: dashed;
    border-color: #427cac;
}